.clear {
  clear: both;
}
.main {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 92%;
  max-width: 1100px;
}

.block-title {
  display: block;
  font-size: 18px;
  padding: 6px 0;
  text-transform: uppercase;
  color: #ad0000;
}
.list-thumb img {
  display: block;
}
.list-title {
  color: #ad0000;
  font-size: 18px;
  font-weight: normal;
}
.list-tvshow .list-title {
  margin-top: 5px;
}
.list-thumb img {
  display: block;
}
.sub-title {
  color: #606060;
  display: block;
}
.page-navi {
  font-size: 14px;
  text-align: center;
}
.widget-block {
  background: none repeat scroll 0 0 #efefef;
  border-radius: 0 5px 5px 0;
  display: block;
  margin-bottom: 6px;
  overflow: hidden;
  padding: 10px;
}
.widget-title {
  background: none repeat scroll 0 0 #ad0000;
  color: #ffffff;
  font-size: 14px;
  margin: -10px -10px 10px 0;
  padding: 10px;
}
.widget-block .featured-contact {
  background: none;
  padding: 0;
  margin: 0;
}
.featured-contact {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 5px 5px 5px 5px;
  margin-top: 5px;
  padding: 5px 15px;
}
.featured-contact li {
  font-size: 14px;
  list-style: none outside none !important;
  margin: auto !important;
  padding: 5px 0 5px 40px !important;
}
.featured-contact li.contact-phone {
  font-size: 30px;
  background-position: 0 14px;
}
.featured-contact li.contact-mail {
  background-position: 0 -95px;
}
.featured-contact li.contact-email {
  background-position: 0 -195px;
}
.widget-block li {
  list-style: disc inside none;
  margin: 5px 0;
  padding-left: 15px;
}
.menu a:hover,
.menu li.current-menu-item a {
  color: #dfb872;
}
.large-button:hover {
  background-color: #b50000;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#b50000),
    to(#d90000)
  );
  background: -webkit-linear-gradient(top, #d90000, #b50000);
  background: -moz-linear-gradient(top, #d90000, #b50000);
  background: -ms-linear-gradient(top, #d90000, #b50000);
  background: -o-linear-gradient(top, #d90000, #b50000);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
@media screen and (min-width: 800px) {
  .home-tvshow,
  .main-content {
    float: left;
    width: 68.5%;
  }

  .home-profile li {
    width: 22%;
  }

  .main-content {
    float: left;
    width: 68.5%;
  }
  .main-sidebar,
  .home-news {
    float: right;
    width: 31%;
  }

  .logo {
    float: left;
    margin: 10px 0 0 -27px;
  }
}

@media screen and (min-width: 400px) {
}
