.title {
    display: block;
    font-size: 18px;
    padding: 6px 0;
    text-transform: uppercase;
    color: #AD0000;
}

.list-profile{
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 92%;
    max-width: 1100px;
    
}

.body{
    float: left;
    width: 100%;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 2px;
    padding: 25px;
}


.profile-left{
    float: left;
    width: 68%;
    margin-bottom: 15px;
    font-size: 9px;
}

.profile-left .title a{
    color: #AD0000;
    text-decoration: none;
    margin: 10px 0;font-size: 18px;
    font-weight: normal;
}

.profile-left p{
    line-height: 20px;
    margin: 10px 0;
    font-size: 16px;
}

.profile-right{
    width: 32%;
}

.body-content{
    border-top: 1px solid #D7D7D7;
    clear: both;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 20px;
}

.header-body {
    display: flex;
}

.picture {
    width: 30%;
    padding: 20px 0;
    
}

.picture p{
    text-align: center;
}

.content {
    padding: 20px;
    width: 70%;
}

.content p{
    margin-bottom: 16px;
}

.contact p{
    margin-bottom: 16px;
}

.bottom {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #CCC;
}

.form-comment {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.comment p{
    padding: 15px;
}

.form-comment label{
    width: 10%;
}
.form-comment textarea {
    width: 85%;
}

.form-comment2{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.form-comment2 textarea {
    width: 85%;
    height: 40px;
}

.submit {
    text-align: center;
    
}

.submit input{
    height: 35px;
    width: 110px;
}