*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #e5c383;
    font-family: 'Anuphan', sans-serif;
}

.header{
    margin: 0 auto 30px;
    width: 92%;
    max-width: 1100px;
}

.header-top{
    display: flex;
}

.header-top-left{
    width: 40%;
    margin-top: 10px;
    margin-right: 70px;

}

.menu{
    width: 60%;
    display: flex;
    text-decoration: none;
    list-style: none;
    background: url(../images/menu.png) no-repeat scroll 0 0 transparent;
    float: right;
}

.menu li{
    color: white;
    font-size: 18px;
    font-weight: bold;
    list-style: none outside none;
    margin: 30px 28px;
}



.header-bottom{
    display: flex;
}

.header-bottom p{
    clear: both;
    color: #FFFFFF;
    display: block;
    font-size: 17px;
    font-weight: bold;
    padding-top: 20px;
    text-shadow: 1px 1px 2px #111111;
    width: 50%;
    margin-right: 70px;
}

.search-news{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 4px 0 #828282 inset;
    margin-left: 150px;
    margin-top: 10px;
    padding: 5px;
    width: 30%;
    height: 35px;
    
}

.search-news input{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    width: 300px;
    font-size: 17px;
    margin-top: 2.5px;
}

.search-news i{
    color: brown;
    cursor: pointer;
    font-size: 20px;
    margin-top: 2px;
}
/*
.logo{
    float: left;
    margin: 10px 0 0 -35px;
    max-width: 418px;
}

ul.menu{
    background: url(../images/menu.png) no-repeat scroll 0 0 transparent;
    float: right;
    height: 110px;
    margin-right: 0px;
    width: 617px;
}

ul.menu li{
    float: left;
    list-style: none outside none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 0 30px;
    margin-top: 30px;
}

.tagline{
    clear: both;
    color: white;
    display: block;
    float: left;
    font-size: 17px;
    margin-left: -10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #111111;
    padding-top: 23px;
}

.search-news{
    background: none no-repeat scroll 0 0 #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 #828282 inset;
    float: right;
    margin-top: 20px;
    padding: 5px;
    position: relative;
}

.search-news input{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 5px;
    width: 250px;
}

.search-news .search{
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 20px;
} */