.detail_table {
    width: 100%;
    background-color: white;
    height: 85%;
    font-size: 20px;
    border-spacing: 0px;
}

.detail_table td {
    text-align: left;
    width: 25%;
    
}

.detail_table th {
    width: 25%;
    text-align: left;
    padding-left: 20px;
}

th, td {
    border-bottom: 1px solid rgb(186, 172, 172);
}

