.container-newlist{
    margin: 0 auto;
    width: 100%;
    margin-left: 13%;
    height: max-content;
}

.newsList{
    float: left;
    width: 100%;
}

.main-container-newlist{
    display: flex;
}

.title-block{
    display: block;
    font-size: 19px;
    padding: 6px 0;
    text-transform: uppercase;
}

.title-block a{
    text-decoration: none;
    color: #AD0000;
}

.content-block-newlist{
    width: 48%;
    margin-right: 15px;
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    min-height: 250px;
    margin-bottom: 60px;
}

.sidebar-newlist{
    width: 25%;
}