.container{
    margin: 0 auto;
    width: 75%;
    height: max-content;
}

.newsDetail{
    float: left;
    width: 68%;
}

.title-block{
    display: block;
    font-size: 19px;
    padding: 6px 0;
    text-transform: uppercase;
}

.title-block a{
    text-decoration: none;
    color: #AD0000;
}

.content-block{
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    min-height: 250px;
    margin-bottom: 60px;
}