.profiles {
    width: 235px;
    padding: 20px;
}

.profiles h4 {
    
    margin: 10px 0 0;
    font-size: 17px;
}

.profiles h3 {
    margin-top: 0px;
    color: red;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}